In [1]:
import pandas as pd
import altair as alt
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/star-wars-survey/StarWars.csv'
sw_all = pd.read_csv(url, encoding='ISO-8859-1')
sw_responses = pd.read_csv(url, encoding='ISO-8859-1', header=None, skiprows=2) # skips first 2 rows
sw_questions = pd.read_csv(url, encoding='ISO-8859-1', header=None, nrows=2) # reads in first 2 rows

## checkpoint

In [40]:
# q1
# correct answer: 0.7892 
seen_any = sw_responses.iloc[:,2]
seen_any.value_counts(normalize=True)

Yes    0.660287
No     0.339713
Name: 2, dtype: float64

In [50]:
#q2
# correct answer: 0.8511 
gender_dat = sw_responses
gender = gender_dat.iloc[:,33]
gender.replace('Female', np.nan).dropna()
# (sw_responses.query('gender == "Male"')
#                 .seen_any
#                 .value_count(normalize=True)
# )
gender_yes = gender_dat.iloc[:,[2,33]]
gender_yes.value_counts(normalize=True)

2    33
Yes  Male      0.369512
     Female    0.290244
No   Female    0.193902
     Male      0.146341
dtype: float64

In [ ]:
#q3
dat = sw_all
dat.dropna(how='all')

## class examples

In [3]:
questions = (sw_questions.iloc[0,:]
                .replace('Have you seen any of the 6 films in the Star Wars franchise?', 'have_seen_any')
                .replace('Do you consider yourself to be a fan of the Star Wars film franchise?', 'fan_sw')
                .replace('Which of the following Star Wars films have you seen? Please select all that apply.', 'seen_any')
                .str.lower()
                .str.replace(' ', '_')
                .ffill()
            )

response_questions = (sw_questions.iloc[1,:]
                        .replace('Response', '')
                        .str.replace('Star Wars: Episode ', '')
                        .str.lower()
                        .str.replace(' ', '_')
                        .fillna('')
                    )

column_names = questions + response_questions

column_names

0                                          respondentid
1                                         have_seen_any
2                                                fan_sw
3                         seen_anyi__the_phantom_menace
4                      seen_anyii__attack_of_the_clones
5                      seen_anyiii__revenge_of_the_sith
6                                seen_anyiv__a_new_hope
7                     seen_anyv_the_empire_strikes_back
8                         seen_anyvi_return_of_the_jedi
9     please_rank_the_star_wars_films_in_order_of_pr...
10    please_rank_the_star_wars_films_in_order_of_pr...
11    please_rank_the_star_wars_films_in_order_of_pr...
12    please_rank_the_star_wars_films_in_order_of_pr...
13    please_rank_the_star_wars_films_in_order_of_pr...
14    please_rank_the_star_wars_films_in_order_of_pr...
15    please_state_whether_you_view_the_following_ch...
16    please_state_whether_you_view_the_following_ch...
17    please_state_whether_you_view_the_following_ch...
18    please_state_whether_you_view_the_following_ch...
19    please_state_whether_you_view_the_following_ch...
20    please_state_whether_you_view_the_following_ch...
21    please_state_whether_you_view_the_following_ch...
22    please_state_whether_you_view_the_following_ch...
23    please_state_whether_you_view_the_following_ch...
24    please_state_whether_you_view_the_following_ch...
25    please_state_whether_you_view_the_following_ch...
26    please_state_whether_you_view_the_following_ch...
27    please_state_whether_you_view_the_following_ch...
28    please_state_whether_you_view_the_following_ch...
29                          which_character_shot_first?
30         are_you_familiar_with_the_expanded_universe?
31    do_you_consider_yourself_to_be_a_fan_of_the_ex...
32    do_you_consider_yourself_to_be_a_fan_of_the_st...
33                                               gender
34                                                  age
35                                     household_income
36                                            education
37                             location_(census_region)
dtype: object

In [ ]:
sw_responses.gender.value_counts() # tally up values of that column 
sw_responses.gender.value_counts(normalize=True) # counts as percentage 
(sw_responses.query('gender == "male"')
                .seen_any
                .value_count(normalize=True)
)

In [4]:
sw_responses.columns = column_names
sw_responses.head()

,respondentid,have_seen_any,fan_sw,seen_anyi__the_phantom_menace,seen_anyii__attack_of_the_clones,seen_anyiii__revenge_of_the_sith,seen_anyiv__a_new_hope,seen_anyv_the_empire_strikes_back,seen_anyvi_return_of_the_jedi,please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film.i__the_phantom_menace,...,"please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.yoda",which_character_shot_first?,are_you_familiar_with_the_expanded_universe?,do_you_consider_yourself_to_be_a_fan_of_the_expanded_universe?æ,do_you_consider_yourself_to_be_a_fan_of_the_star_trek_franchise?,gender,age,household_income,education,location_(census_region)
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [5]:
sw_responses.query('have_seen_any == "Yes"').query('gender == "Female"')['fan_sw'].value_counts(dropna=False, normalize=True)

Yes    0.599496
No     0.400504
Name: fan_sw, dtype: float64

### q3
q3 goal:
- get data ready for q4
- q4 is to predict if person who has seen sw makes more than 50k a year

todo:
- drop people that answer no for seen_any
- drop have_seen_any column because it will be all Yes
- convert is_fan to 0 and 1's
- seen_film (6 columns) convert to 0/1
- convert character rating to numbers:
    - very UF, UF, UNF(unfamilar), netral, favor, very F
    - 0, 1, 2, 3, 4, 5 **probs best one
    - -3, -2, -1, 0, 1, 2
    - 0, 1, 2, 4, 8, 16
- create new columns for each character rating: (one-hot encoding)
    - c3po_vuf, c3po_uf, c3po_unf c3po_n, c3po_f, c3po_vf
    - if answer is favorable change to:
    - 0, 0, 0, 0, 1, 0
- pd.get_dummies()
- pd.factorize()
- who shot first:
    - don't know 0
    - han 1
    - greddo 2
    - since han shot first he is converted to 1, greddo shot second so converted to 2. Don't know is not an answer with value so it's 0
- convert age range to one num
    - use first or last num?
    - min, max, or mean
    - 18-29, 20-44, 45-60, > 60
    - use min because would be consistent with greater than 60
    - all ages would mean greater than
- edu
    - turn into number of years?
    - High school degree = 12
    - Some college or associate = 14
    - Bachlor = 16
    - Gradute degree = 20
- location

In [7]:
# get_dummies()
pd.get_dummies(sw_responses.fan_sw, drop_first=True)

      Yes
0       1
1       0
2       0
3       1
4       1
...   ...
1181    1
1182    1
1183    0
1184    1
1185    0

[1186 rows x 1 columns]

## reading notes

### Tidy Data

__Functions to tidy data__
- melt()
-

In [ ]:
table4a.melt(['country'], var_name = "year", value_name = "cases")
#>        country  year   cases
#> 0  Afghanistan  1999     745
#> 1       Brazil  1999   37737
#> 2        China  1999  212258
#> 3  Afghanistan  2000    2666
#> 4       Brazil  2000   80488
#> 5        China  2000  213766